

.price_card {
	padding-bottom: 5%;
    border-bottom: 3px solid #429b8e;
}

.card-body {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	border: 2px solid #f38181;;
	color: grey;
}

.card-header {
	background: #f38181;;
	text-align: center;
	color: aliceblue;
	font-weight: bold;
	letter-spacing: 2px;
}

#card_bu_1 {
	margin-top: 3rem;
	background: #f38181;;
	border-radius: 20px;
	width: 150px;
	height: 40px;
}

#card_bu_1:hover {
	background: #f38181;;
}

#purp_card {
	width: 100%;
}

#mysb {
	color: dimgrey;
	letter-spacing: 2px;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 7%;
}

.own_card_style {
	line-height: 2.5;
}

.pricing_symbol {
	top: -1.2rem;
	color: black;
	font-size: 1.7rem;
}

.card_price {
	font-size: 4rem;
	color: #424753;
}

.card_price_month {
	font-size: 1.2rem;
	margin-left: -1rem;
	color: #aeb0b5;
}

.card_prof > .col-md {
	padding: 0px;
}

.card_1 {
	z-index: -1;
}



#purp_card_2 {
	margin-right: 30%;
}

#purp_card_1 {
	margin-left: 30%;
}

/*ALL MEDIA QUERIES*/

@media (max-width: 768px) {
	.card-body {
		margin-left: 10%;
		margin-right: 10%;
	}
	.card {
		border: 0px solid rgba(0, 0, 0, .125);
		margin-bottom: 2%;
	}
	#_picture_block_dark {
		border-bottom: 0.001rem solid #D1D3DB;
	}
	.card-header {
		margin-left: 10%;
		margin-right: 10%;
	}
	#purp_card_2 {
		width: 100%;
	}
	#purp_card_1 {
		width: 100%;
		margin-left: 0%;
	}
	#purp_card {
		margin-left: 0 auto;
	}
	.own_naw {
		display: block;
	}
}

}
@media (max-width: 996px) {
	
}
@media (max-width: 576px) {

}
@media (min-width: 200px) and (max-width: 575px) {
	
}

#card-header_1 {
	background: #eceff3;
	text-align: center;
	color: #424753;
	font-weight: bold;
	letter-spacing: 1px;
}
#card-header_2 {
	background: #eceff3;
	text-align: center;
	color: #424753;
	font-weight: bold;
	letter-spacing: 1px;
}
#card_body_1 {
	border: 1px solid #eceff3;
	color: grey;
}
#card_body_2 {
	border: 1px solid #eceff3;
	color: grey;
}
