@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kj66fu');
  src:  url('fonts/icomoon.eot?kj66fu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kj66fu') format('truetype'),
    url('fonts/icomoon.woff?kj66fu') format('woff'),
    url('fonts/icomoon.svg?kj66fu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e903";
}
.icon-diamond:before {
  content: "\e900";
}
